$textlight: #fff;
$background-darker: #202225;
$background-mid: #36393f;
$background-light: #8e9297;
$button-pop: #7289da;
$font-stack: Roboto, Arial, Helvetica, sans-serif;

body, html, main, div#root, div.App {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: $font-stack;
  overflow-y: hidden;
}

/* Multi-Use Classes */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200,200,200,0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  .sm-modal {
    background-color: $background-darker;
    color: $textlight;
    padding: 10px 20px;
    width: calc(100% - 100px);
    max-width: 800px;
    border-radius: 10px;
    position: relative;

    .login-info {
      img {
        max-width: 100%;
      }

      .browsers {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        a {
          display: inline-block;
          margin-right: 20px;

          img {
            width: 75px;
            height: 75px;
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }

    .close-button {
      border: none;
      background: none;
      font-size: 24px;
      padding: 0 10px 0 0;
      color: $textlight;
      position: absolute;
      right: 0;
      top: 0;

      &:hover {
        opacity: 0.5;
      }

      &:active, &:focus {
        outline: none;
      }
    }

    .col {
      padding: 5px 10px;

      div {
        background-color: $background-mid;
        border-radius: 10px;
        padding: 10px;

        .input-with-icon {
          position: relative;
          padding: 0;
          margin: 0;
          height: 30px;
          background-color: $background-darker;

          input {
            box-sizing: border-box;
            background-color: $background-darker;
            color: $textlight;
            border-radius: 10px;
            height: 100%;
            border: none;
            padding: 0 40px;
            width: calc(100%);

            &:active, &:focus {
              outline: none;
            }
          }

          .input-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            background-color: $background-darker;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }

          .input-action {
            position: absolute;
            top: 0;
            right: 0;
            width: 30px;
            height: 30px;
            background-color: $button-pop;
            border: none;
            border-radius: 10px;
            color: $textlight;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

.channel {
  display: inline-block;
  width: calc(100% - 60px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: $background-mid;
  height: 100%;
  color: $textlight;

  .channel-info {
    padding: 10px 20px;
    color: $textlight;
    background-color: $background-darker;

    p {
      padding: 0;
      margin: 0;
      font-weight: 900;
    }
  }

  .channel-content {
    height: calc(100% - 94px);
  }

  .channel-send {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px;
    margin: 0 !important;
    background-color: lighten($background-mid, 10); // Lighten Mid slightly

    .channel-buttons {
      display: flex;
      align-items: center;
    }

    .message-text {
      background-color: lighten($background-mid,30);
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      color: $textlight;
    }

    .message-button {
      background: none;
      border: none;
      color: $textlight;
      text-align: center;
      margin-right: 5px;
      width: 40px;
      height: 40px;
    }

    .message-button:last-of-type {
      margin-right: 0;
    }

    .message-user-button {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    .message-send-button, .message-add-button {
      background: $background-darker;
    }

    .message-add-button {
      font-weight: 900;
    }
  }
}

/* Channel List */
#channel-bar {
  background-color: $background-darker;
  height: 100%;
  width: 60px;
  display: inline-block;
  color: $textlight;
  box-sizing: border-box;
  overflow: auto;

  div.hr {
    height: 1px;
    width: calc(100% - 10px);
    background: $textlight;
    margin: 4px 5px;
    box-sizing: border-box;
  }

  div.channel-icon div.delete-channel {
    display: none;
  }

  div.channel-icon.show-delete div.delete-channel {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    transition-duration: 0.25s;
    transition-property: border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.channel-icon.show-delete {
    animation: wiggle .25s infinite;
  }
  
  div.channel-icon, div.command-icon {
    width: calc(100% - 10px);
    height: 50px;
    margin: 4px 5px;
    box-sizing: border-box;
    transition-duration: 0.25s;
    transition-property: border-radius;
    border-radius: 50%;
    padding: 0;
    background-color: $background-mid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 36px;
    user-select: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    &:first-of-type {
      margin-top: 4px;
    }

    &:hover, &:focus, &.current-channel {
      transition-duration: 0.25s;
      transition-property: border-radius;
      border-radius: 25%;
    }
  }
}

.message {
  padding: 10px 0 0 70px;
  position: relative;

  .message-avatar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 15px;
  }

  .message-info, .message-text {
    width: calc(100% - 40px);
    display: inline-block;
  }

  .message-info {
    font-weight: 900;
    color: #fff;

    span {
      font-weight: normal;
    }
  }

  .message-text {
    color: lighten($background-darker, 80);
  }

  &.sameauthor {
    padding-top: 0;
    padding-bottom: 0;
    .message-info, .message-avatar {
      display: none;
    }
  }

  &:last-of-type {
    padding-bottom: 10px;
  }
}

button.scroll-to-bottom {
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  font-size: 20px;
}

.scrollable-messages {
  // Firefox only
  scrollbar-color: $background-light $background-darker;
  scrollbar-width: thin;

  // Chrome/WebKit only
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track-piece  {
    background-color: $background-darker;
  }

  &::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: $background-light;
  }
}


/* Animations */
@keyframes wiggle {
   0% { transform: rotate(1deg); } 
   25% { transform: rotate(-1deg); } 
   50% { transform: rotate(1deg); } 
   75% { transform: rotate(-1deg); }
   100% { transform: rotate(0deg); } 
}

/* Tooltip Styling */
.__react_component_tooltip {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: $textlight;
  font-size: 15px;
}

/* Most important classes */
.hidden {
  display: none;
}

.copyright-text {
  font-size: 10px;
}